@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

::selection {
    color: #fff;
    background-color: #222;
}
body {
    font-family: 'Poppins', sans-serif !important;
}
body::-webkit-scrollbar {
    width: 8px;
    border-radius: 3px;
}
body::-webkit-scrollbar-track {
    width: 8px;
    border-radius: 3px;
    background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 3px;
    background-color: #9999;
}
h1 {
    margin: 0;
}
input,textarea {
    outline: none;
    border: none;
    padding: 13px;
    border-radius: 5px;
}
input:hover, .input-sec-2:hover {
    background-color: #f5f5f5;
}
.input-sec-1 {
    border: 3px solid #333;
    width: 100%;
}
.input-sec-2 {
    height: 40vh;
    width: 100%;
    margin-bottom: 10px;    
    border: 3px solid #333;
}
/*pallettes*/
.fe-fst-layer {
    border-bottom: 5px solid #4FB1EB !important;
}
.fe-sec-layer {
    border-bottom: 5px solid #7EC0E6 !important;
}
.fe-trd-layer {
    border-bottom: 5px solid#AAD1E7 !important;
}
.fe-fth-layer {
    border-bottom: 5px solid #C6E4F5 !important;
}

.be-fst-layer {
    border-bottom: 5px solid #9AC96E !important;
}
.be-sec-layer {
    border-bottom: 5px solid #A6C688 !important;
}
.be-trd-layer {
    border-bottom: 5px solid#B2C99C !important;
}
.be-fth-layer {
    border-bottom: 5px solid #C4D8B2 !important;
}

.db-fst-layer {
    border-bottom: 5px solid #FFED68 !important;
}
.db-sec-layer {
    border-bottom: 5px solid #FFF398 !important;
}
.db-trd-layer {
    border-bottom: 5px solid#FFF7B6 !important;
}
.db-fth-layer {
    border-bottom: 5px solid #FFFBD3 !important;
}

.dsn-fst-layer {
    border-bottom: 5px solid #FFB35C !important;
}
.dsn-sec-layer {
    border-bottom: 5px solid #FFC685 !important;
}
.dsn-trd-layer {
    border-bottom: 5px solid#FFD7AA !important;
}
.dsn-fth-layer {
    border-bottom: 5px solid #FFE2C2 !important;
}

.cl-fst-layer {
    border-bottom: 5px solid #FF7D71 !important;
}
.cl-sec-layer {
    border-bottom: 5px solid #FF9F97 !important;
}
.cl-trd-layer {
    border-bottom: 5px solid#FFBAB4 !important;
}
.cl-fth-layer {
    border-bottom: 5px solid #FFDDDA !important;
}

.mb-fst-layer {
    border-bottom: 5px solid #AB57A4 !important;
}
.mb-sec-layer {
    border-bottom: 5px solid #BA60B2 !important;
}
.mb-trd-layer {
    border-bottom: 5px solid#D371CB !important;
}
.mb-fth-layer {
    border-bottom: 5px solid #F18AE9 !important;
}
/*/pallettes*/

/*logo-svg*/
/*/logo-svg*/
.allprojects:hover, .ftallprojects {
    background-color: #fff !important;
    color: #333 !important;
}
.front-end:hover, .ftfront-end {
    background-color:   #2AA8F2 !important;
}
.back-end:hover, .ftback-end {
    background-color: #8BD448 !important;
}
.datab:hover, .ftdatab {
    background-color:  #FAE442 !important;
}
.design:hover, .ftdesign {
    background-color:  #FBA949 !important;
}
.cloud:hover, .ftcloud {
    background-color:  #FF6355 !important;
}
.mobile:hover, .ftmobile {
    background-color: #9C4F96 !important;
}

/*assets*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: contents;
}
.hide {
    display: none !important;
}
.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pointer {
    cursor: pointer;
}
.cover {
    width: 100%;
    height: 100%;
}
.w-section {
    width: calc(100vw - 65px);
}
.show-slide {
    display: flex !important;
}
.b-shadow-h:hover {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.b-shadow {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.t-shadow {
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.bold {
    font-weight: 500;
}
.contrast-txt {
    background-color: #fff;
    color: #000;
}
.flex {
    display: flex;
}
.flex-imp {
    display: flex !important;
}
.invert {
    filter: invert(1);
}
.scale:hover {
    transform: scale(105%);
}
/**/

.drop-li {
    display: flex;
}
.dropdown-item {
    margin: 10px !important;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    color: #f8f8ff !important;
}

/*sidebar */

.nav-section-2 {
    height: 45px;
    display: flex;
    gap: 8px;
    background-color: transparent;
    border-radius: 3px;
    padding: 5px;
}
.nav-hover:hover {
    text-decoration: underline;
    border-radius: 3px;
}

.section-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: -3px;
    color: #222;
    margin: 7vh 0 ;
}

.nav-link {
    color: #111 !important;
}
.nav-link:hover {
    color: #333;
}
.nav-logo,.nav-img {
    width: 50px;
}
.nav-logo-alt {
    display: none;
}
.exit-btn {
    width: 45px;
    display: none;
}
.nav-img-alt {
    filter: invert(1);
}
.nav-b-exit {
    justify-content: space-between;
    margin: 0px 24px;
}
.nav-exit-btn {
    position: relative;
    bottom: 5px;
}
.side-hide {
    width: 0px;
}

.dropdown-menu {
    background-color: #333;
    margin-bottom: 12px;
}

.show-f {
    display: initial !important;
}

.link-side {
    display: none;
}

.link-side {
    margin: 10px;
    font-size: 30px !important;
    color: #fff !important;
    align-items: center;
    width: 200px;
    display: none;
}
.link-side-open:hover {
    text-decoration: underline;
}

.default {
display: flex;
align-items: center;
width: 95% !important;
margin-left: 8px;
}

.sec-1-card {
    padding: 10px;
    background-color: #444;
    border-radius: 3px;
}

.section-mod {
    background-color: #ffd700 !important;
}

.section-parent {
    min-height: 610px;
    height: 100vh;
    color: #fff;
}
.inicio-parent {
    background-color: #f8f8ff;
}
.sobre-mim-parent {
    background-color: #f5f5ff;
}
.stack-parent {
    background-color: #ededff;

}
.projetos-parent {
    background-color: #e9e9ff;

}
.bugs-parent {
    background-color: #e4e4ff;
}
.img-inicio {
        width: calc(100% - 65px);
}
.img-inicio-parent {
    width: 800px;
}

.contato-parent {
    display: flex;
    position: fixed;
    bottom:86px;
    right: -86px;
    transform: rotateZ(90deg);
    margin: 15px 10px;
    z-index: 10000;
}

.contato-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.contato-submit-btn {
    padding: 10px;
    border: none;
    background-color: #02c2bc;
    color: #fff;
    border-radius: 10px;
    width: 185px;
}
.contato-submit-btn:hover {
    background-color: #309491;
}
.popup-bg {
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
}

.popup-parent {
    height: calc(70vh - 40px);
}

.popup-header {
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    font-weight: 700;
    font-size: 3vw;  
    text-align: center;
}
.form-contato {
    transform: scale(85%);
    width: 100%;
}

.form-sec {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.contato-par-open {
    bottom: 176px;
    right: -176px;
}

.second-sec {
    display: none;
}

.contato-items {
    gap: 5px;
}

.contato-item, .lateral-item {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid #333;
    border-radius: 3px;
}

.lateral-item-alt {
    background-color: #fff;
    border: 3px solid #fff;
}

.contato-item {
    transform: rotateZ(-90deg);
}

.ctt-item-img {
    width: 25px;
}
.ctt-item-img-alt {
   width: 33px;
}
.ctt-item-img-alt-1 {
    width: 28px;
 } 
.instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.facebook:hover {
    background-color: #3b5998;
}
.whatsapp:hover {
    background-color: #25d366;
}
.github:hover{
    background-color: #c9510c;
}
.linkedin:hover{
    background-color: #0077b5;
}
.email:hover{
    background-color: #00EDC2;
}
.figma {
    height: 30px;
    width: 30px;
    background-image: url(../img/16\ figma.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    right: -1px;
}
.figma:hover {
    height: 26px;
    width: 26px;
    background-image: url(../img/17\ figma-h.svg);
}

.backtop {
    width: 50px;
    border-radius: 100%;
    margin-left: 8px;
    transform: rotateZ(-90deg);
}

.backtop:hover {
    background-color: rgb(245, 245, 245);
}

.backtop-img {
    width: 30px;
}

.fullscreen-btn {
    position: relative;
    right: -2px;
    height: 50px;
    width: 20px;
    border-radius: 5px 0px 0px 5px;
    background-color: #111;
    color: #fff;
}

.fullscreen-btn:hover {
    background-color: #222;
}

.plus-img {
    width: 10px;
}
.minus-img-s {
    display: block !important;
}
.plus-img-h {
    display: none !important;
}
.minus-img {
    display: none;
    width: 10px;
    transform: rotateZ(90deg);

}

.contato-fixed {
    width: 146px;
    border-radius: 3px;
}

.contato-open {
    width: 326px;
}

.bttm-fixed {
    height: 50px;
    background-color: #fff;
    gap: 5px;
    border: 3px solid #333;
}


.active {
    text-decoration: underline;
}

.active-filter {
    width: 25px !important;
    height: 3px;
    border-radius: 25px;
    top: 67px;
    position: absolute;
    display: none;
    align-items: end !important;
}

.filter-tit-base {
    padding: 2px;
    border-radius: 3px;
    width: 45px;
    text-align: center;
}
.filter-tit {
    color: #000;
    background-color: #fff;
}
.filter-tit-alt {
    background-color: #333;
    color: #fff;
    font-weight: 700;
}

.projetos-child {
    width: 100%;
    height: 250px;
}

.projetos-title {
    margin-top: 115px;
}

.projetos-filter {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1%;
}

.card-img-parent {
    width: 100px;
    height: 100px;
    background-color: #333;
}

.img-card {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 3px;
    border: 3px solid #333;
    background: url(../img/fotoperfil\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.links {
display: flex;
align-items: center;
width: 90% !important;
justify-content: center;
}

.sobre-mim-btn, .bugs-btn {
    min-width: 205px;
    padding: 10px;
    margin-top: 5%;
    border-radius: 5px;
    color: #555;
    font-weight: 400;
    background-color: transparent;
    border: 3px solid #333;
    background-color: rgb(255,255,255, 0.4);
}

.sobre-mim-btn:hover,.bugs-btn:hover {
    background-color: #fff;
    color: #000;
}

.sm-btn-par {
    display: flex;
    justify-content: center;
}

.sm-text-scroll {
    height: 200px;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    color: #333;
    border: 3px solid #333;
    background-color: #fff;
    overflow-y: auto;
}
.sm-text-scroll::-webkit-scrollbar {
    width: 3px;
    background-color: #222;
}

.sm-text-scroll::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: #309491;
    border-radius: 25px;
}

.sobre-mim-child,.button-parent {
    display: flex;
    justify-content: center;
}

.sobre-mim-content {
    display: none;
}

.card-content{
    padding: 0;
    margin-bottom: 10px;
    align-items: center;
    background-color: #555;
    border-radius: 3px;
    justify-content: space-evenly;
}

.return-img {
    height: 30px;
    width: 50px;
    padding: 5px;
    border-radius: 3px;
}
.return-img-bugs {
    height: 25px;
    width: 25px;
}

.return-img {
    background-color: #555;
}
.return-img:hover {
    background-color: #666;
}
/* 
.return-img-alt {
    margin-top: 10px;
    background-color: #444;
}
.return-img-alt:hover {
    background-color: #555;
} */

 .side-default {
  position: fixed;
  left: 0;
}

.sidenav a, a {
  font-weight: 400;
  padding: 5px 15px !important;
  text-decoration: none;
  font-size: 15px;
}

.navbar {
  background-color: transparent;
  height: 70px;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: -1px;
}

.drop-row {
    gap: 20px;
}

.menu-toogle{
color: #fff;
cursor: pointer;
font-size: 40px;    
border-radius: 100%;
}
.menu-toogle:hover {
background-color: #f0f0f0; 
}
.menu-toogle-bg {
    width: 50px;
    height: 50px;
}
.img-toogle {
    filter: invert(1);
    width: 30px;
}

.slider-fe,.slider-be,.slider-db,.slider-dsn,.slider-cl,.slider-mb{
    display: none;
}
.slider-wrap {
    position: absolute;
    background-color: #111;
    border-radius: 3px;
}

.sliders-wrap {
    height: 250px;    
}

.slider-filter {
    display: flex;
    justify-content: center;
    height: 75px;
    margin-bottom: 10px;
}

.slider-filter-wrap {
    height: 75px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider-inner {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.sliders-inn {
    width: calc(310px * 6 + 120px);
}

.slider-filter-inn {
    width: 100%;
}

.slide-item {
    padding: 3px;
    border-radius: 3px;
}

.slider-cont {
    display: flex;
    align-items: center;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    width: 310px;
    height: 213px;
    background-color: #fff;
    border-radius: 5px;
}

.item-wrap {
    width: 100%;
}

.item-inner-par {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.item-inner {
    height: 100%;
    width: 97%;
    margin-top: 5px;
    border-radius: 3px;
    background: #444;
}
.item:hover {
    transform: scale(105%);
}
.item-inner:hover {
    background-color: #555;
}

.item-title-par {
    height: 22%;   
}

.item-title {
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

.filter-item {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 8px;
    font-weight: 600;
}

.filter-item:hover {
    transform: scale(105%);
}

.filters-category {
    padding: 15px 30px;
    background-color: #111;
    gap: 9%;
    border-radius: 3px;
}

.modal-video {
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 10000;
    display: none;
}

.exit-modal {
    width: 30px;
    height: 30px;
}
.m-body {
    height: calc(100vh - 80px);
    background-color: #333;
    border-radius: 10px;
    border: 5px solid #fff;
}
.m-cont-top {
    height: calc(100% - 35px);
}
.m-nav {
    justify-content: end;
}
.m-btn-left,.m-btn-right {
    background-color: #85ffe9;
    border-radius: 100%;
    position: fixed;
    width: 40px;
}
.modal-slide-par {
    height: calc(100% - 40px);
}
.img-modal {
    object-fit: contain;
    object-position: center;
    max-height: 1880px;
}
/*1 inicio*/

/*/inicio*/

/*2 sobre-mim*/
/*/sobre-mim*/

/*3 stack*/
.stack-img {
    width: 100%;
    padding: 10px;
    background-color: #222;
    border: 5px solid #111;
    border-radius: 3px;
}
.stack-tree-par {
    display: flex;
    gap: 5px;
}
.stack-tree-text {
    padding: 10px;
    height: auto;
    background-color: #222;
    border: 5px solid #111;
    border-radius: 3px;
}
.stc-m-bg-1 {
    background-color: #333;
}
.stc-m-bg-2 {
    background-color: #444;
}
.stc-m-bg-3 {
    background-color: #555 !important;
}
.stc-tit-par {
    border-radius: 5px;
    justify-content: space-evenly;
    height: calc(20% - 10px);
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    height: 80px;
}
.stc-tit-par-alt {
    justify-content: start;
}
.stc-txt-par {
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    overflow-y: overlay;
    font-size: 12px;
    font-weight: 300;
}
.stc-txt-par::-webkit-scrollbar {
    display: none;
}
.stc-img-par-alt {
    margin-right: 10px;
}
.stc-img-par {
    height: 60px;
    width: 60px;
    padding: 8px;
    background-color: #444; 
    border-radius: 3px;
}
.stc-nav {
    border-bottom: 15px solid #FFF;
}
.stc-nav-tit {
    color: #333;
    font-size: 8px;
    position: relative;
    top: 10px;
}
.stc-img {
    height: 35px;
}
.stc-img-alt {
    height: 28px;
}
.stc-img-act {
 border-bottom: 5px solid #fff;
}

.stack-slider-par{
    position: relative !important;
    overflow-x: auto;
}
.stack-slider-child::-webkit-scrollbar {
    width: 0px;
}
/*/stack*/

/*4 projetos*/
/*/projetos*/

/*5 futuro*/
/*/futuro*/

/*5 bugs*/
.bugs-content {
    display: none;
}
.code-box {
    height: 300px;
    font-family: monospace;
    resize: none;
    margin-right: -20px;
}
.code-dark {
    background-color: #282c34;
    color: #abb2bf;
}
.code-light {
    background-color: #fff;
    color: #4078F2;
}
.code-mtx {
    background-color: #030303;
    color: #008529;
}
.code-childs {
    background-color: #333;
    color: #d88;
}
.lateral-code {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    border-radius: 3px;
}
.code-submit {
    display: contents;
}
.code-nome {
    width: calc(100% - 5px);
}
.img-code {
    filter: invert(1);
    transform: rotateZ(90deg);
    transition: 0.5s;
}
.img-code-alt {
    transform: rotateZ(90deg);
    transition: 0.5s;
}
.reset-img:hover {
    transform: rotateZ(-110deg);
    transition: 0.5s;
}
.bugs-text-scroll {
    background-color: #fff;
    height: 100%;
    padding: 5px;
    color: #333;
    font-size: 1.8vw;
    font-weight: 400;
}
.bt-title {
    font-size: 2.5vw;
    font-weight: 600;
}
.bugs-text {
    background-color: #fff;
    height: 72%;
    margin-right: 5px;
    padding: 10px;
    border: 3px solid #333;
    font-size: 12px;
    border-radius: 3px;
}
.bugs-data {
    height: 30%;
    background-color: #111;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    position: relative;
    top: 5px;
    gap: 5px;
}
/*/bugs*/

/*6 contato*/
/*/contato*/

/*7 footer*/
.footer {
    background-color: #000;
    height: 110px;
}
.footer-text {
    font-size: 14px;
    color: white;
    margin: 0px;
}
/*/footer*/

/*media screens*/
/*max-width*/
/*/max-width*/

/*min-width*/
/*/min-width*/
/*/media screens*/
    #navbarNavDarkDropdown {
        width: unset;
        margin-left: 0;
    }
     .nav-section-1 {
         display: none;
     }
     .dashboard-toogle {
         display: none;
        }
        .active {
            margin-left: 0 !important;
        }

 @media screen and (max-width: 1024px) {
    .nav-section-1 {
        display: flex !important;
    }
    .stack-slider-child {
         width: 165vw;
     }
    .nav-section-2 {
    display: none;
    }
    #nav-close {
        padding: 0px !important;
        width: 100%;
        padding: 16px;
        margin-left: 0px;
    }
        .nav-open {
        padding: 0px !important;
        padding: 16px;
        margin-left: 0 !important;
    }
    .side-default {
        width: 0px;
        height: 100%;
        padding-top: 22px;
        top: 0;
        transition: 0.4s;
        background-color: #222;
    }
    
    .side-open {
        width: 100%;
        transition: 0.5s;
       }
 }


@media screen and (max-width: 990px) {
    .lateral-item {
    transform: scale(85%);
}
    .code-nome .input-sec-1 {
        font-size: 10px;
        width: 100%;
        margin-bottom: 5px;
    }
    .slider-filter-inn {
        width: 175vw;
    }

     .last-link {
         margin-bottom: 100px !important;
     }
}

@media screen and (max-width: 991px) {
    .code-nome {
        width: 100%;
        margin-bottom: 5px;
    }
} 

@media screen and (max-width: 660px) { 
    .footer-text {
        font-size: 2vw !important;
    }
}

@media screen and (max-width: 380px) { 
    .input-sec-1 {
        margin-bottom: 5px;
    }
    .bt-title {
        font-size: 3.5vw !important;
        font-weight: 700;
    }
    .bugs-text-scroll {
        font-size: 2.5vw;
    }
  .navbar {
    margin-bottom: 20px;
  }
   .last-link {
       margin-bottom: 100px !important;
   }
   .form-sec {
    display: block !important;
    margin: 0px;
}
}
@media screen and (max-width: 300px) { 
    .stc-img-par {
        transform: scale(90%);
    }
    .section-title {
        font-size: 15vw;
    }    
  }
  @media screen and (max-width: 260px) {
      .slider-filter-inn {
          width: 260vw;
      }
      .sobre-mim-btn,.bugs-btn {
          min-width: 160px;
          font-size: 12px;
      }
  }
  @media screen and (max-width: 220px) {
      .stack-slider-child {
          width: 180vw;
      }
      .stc-img-par {
          transform: scale(75%);
      }
      .w-section {
        width: calc(100vw - 20px);
      }
      .bugs-text {
          margin: 0px;
      }
  }
@media screen and (min-width: 1024px) {
    .sm-text-scroll {
        margin-right: 10px;
    }
}

@media screen and (max-width: 575px) {
    .stc-txt-par {
        height: 125px !important;
    }    
}
@media screen and (only: 280px) {
    .w-section{
        width: calc(100vw - 26px);
    }
 }

 @media screen and (max-height: 550px) {
     .form-contato {
         transform: scale(60%);
     }
 }
 @media screen and (max-height: 550px) {
    .form-contato {
        transform: scale(60%);
    }
}
@media screen and (max-height: 280px) {
    .form-contato {
    transform: scale(45%);
    position: relative;
    top: -10px;
    }
}